<!-- Fathom - simple website analytics - https://github.com/usefathom/fathom -->
<script type="text/javascript">
(function(f, a, t, h, o, m){
   a[h]=a[h]||function(){
      (a[h].q=a[h].q||[]).push(arguments)
   };
   if (["localhost","127.0.0.1"].indexOf(a.location.hostname)>=0) return;
   o=f.createElement('script'),
   m=f.getElementsByTagName('script')[0];
   o.async=1; o.src=t; o.id='fathom-script';
   m.parentNode.insertBefore(o,m)
})(document, window, '//fathom.schnouki.net/tracker.js', 'fathom');
fathom('trackPageview');
</script>
<!-- / Fathom -->
