<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#2d89ef">
<meta name="theme-color" content="#ffffff">

{{- if ( .Page.Scratch.Get "UsesEmbedly" ) -}}
  <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
{{- end -}}

<!-- OpenID -->
<link rel="openid.server" href="https://auth.schnouki.net/openid/"/>
<link rel="openid.delegate" href="http://schnouki.net/"/>
<link rel="openid2.provider" href="https://auth.schnouki.net/openid/"/>
<link rel="openid2.local_id" href="http://schnouki.net/"/>

{{- partial "head/schema" . -}}
