/*********************
 * home_intro widget *
 *********************/
.intro-link {
    margin-top: -1.5em;
}
.intro-link a {
    font-size: .9em;
}
.intro-menu {
    margin-top: 1.5em;
}
.intro-menu li:not(:last-child) {
    border-bottom: 1px dashed #bdbdbd; /* $color_grey */
}
.intro-menu-desc {
    padding-left: 1em;
    font-size: .9em;
}

@media screen and (min-width: 920px) {
    .widget-home_intro {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between
    }
    .intro-text {
        width: 50%;
    }
    .intro-menu {
        margin-top: 0;
        width: calc(50% - 2.5em);
    }
}

/****************
 * Post content *
 ****************/
.code-shortcode .highlight {
    font-size: .8em;
    line-height: initial;
}
.code-shortcode .highlight pre {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.code-shortcode__link {
    border: 1px solid #272822;
    border-bottom: none;
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
    padding: 0 1em;
}
.code-shortcode__link a {
    border-bottom: none;
}

/***************
 * Better gist *
 ***************/
.gist table, .gist td, .gist th {
    border: initial;
}

/*****************
 * Isso comments *
 *****************/
#isso-thread {
    font-size: .8em;
}
#isso-thread .auth-section, #isso-thread .notification-section {
    font-size: .9em;
}
#isso-thread .isso-postbox > .form-wrapper > .auth-section .input-wrapper {
    margin-right: 5px;
}
#isso-thread .isso-postbox > .form-wrapper > .auth-section .post-action > input {
    padding: .3em;
    letter-spacing: initial;
}
#isso-thread .notification-section label {
    font-weight: initial;
    letter-spacing: initial;
    display: inline-flex;
}
#isso-thread .notification-section input {
    width: initial;
    margin-right: .5em;
}

/******************
 * TeX and LaTeX… *
 ******************/
/* From https://stackoverflow.com/a/8160532/113325 */
.tex sub, .latex sub, .latex sup {
    text-transform: uppercase;
    top: initial;
    bottom: initial;
}
.tex sub, .latex sub {
    vertical-align: -0.5ex;
    margin-left: -0.1667em;
    margin-right: -0.125em;
}
.tex, .latex, .tex sub, .latex sub {
    font-size: 1em;
}
.latex sup {
    font-size: 0.85em;
    vertical-align: 0.15em;
    margin-left: -0.36em;
    margin-right: -0.15em;
}
