{% import "common.html" as common %}
<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{% block title %}{{ site.title }}{% endblock %}</title>

    <link rel="stylesheet" href="/static/style.css"/>

    <link rel="start" href="{{ site.url }}/" title="Home"/>
    <link rel="alternate" type="application/atom+xml" title="Recent Entries"  href="/feed.atom"/>

    <link rel="openid.server" href="http://www.myopenid.com/server"/>
    <link rel="openid.delegate" href="http://schnouki.myopenid.com/"/>
    <link rel="openid2.local_id" href="http://schnouki.myopenid.com"/>
    <link rel="openid2.provider" href="http://www.myopenid.com/server"/>

    <!-- Die, IE6, die! - from http://code.google.com/p/sevenup/ -->
    <script type="text/javascript" src="/static/sevenup.0.3.min.js"></script>
    <script type="text/javascript" src="/static/sevenup_black.0.3.min.js"></script>
    <script type="text/javascript">//<![CDATA[
      var sevenUpOptions = {
        enableClosing: false,
        enableQuitBuggingMe: false,
        downloadLink: "http://getfirefox.com",
        showToAllBrowsers: false
      };
      //]]></script>

    <!-- Flattr me! -->
    <script type="text/javascript">
      <!--//--><![CDATA[//><!--            
            (function() {
                var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
                
                s.type = 'text/javascript';
                s.async = true;
                s.src = 'http://api.flattr.com/js/0.5.0/load.js?uid=21872';
                
                t.parentNode.insertBefore(s, t);
            })();    
        //--><!]]>
    </script>

    <!-- IE HTML5 workaround - from http://metajack.im/ -->
    <script type="text/javascript">//<![CDATA[
      function fixElem(name) { document.createElement(name); }
      fixElem('header'); fixElem('aside'); fixElem('section'); fixElem('article'); fixElem('time'); fixElem('footer');
      //]]></script>
  </head>

  <body onload="sevenUp.plugin.black.test(sevenUpOptions, null);">
    <header class="page"><a href="/">{{ site.title }}</a></header>
    <div id="wrapper">
      <div class="content">
        {% block content %}
        {% endblock content %}
        <footer class="page">
          &copy; {{ site.copyright_period }} {{ site.author }}<br/>
          <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/2.0/fr/"><img alt="Creative Commons License" src="http://i.creativecommons.org/l/by-nc-sa/2.0/fr/88x31.png"/></a><br/>
          This <span xmlns:dc="http://purl.org/dc/elements/1.1/" href="http://purl.org/dc/dcmitype/Text" rel="dc:type">work</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://schnouki.net/" property="cc:attributionName" rel="cc:attributionURL">Thomas Jost</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/2.0/fr/">Creative Commons Attribution-Noncommercial-Share Alike 2.0 France License</a>.
        </footer>
      </div>
      <div class="sidebar">
        {{ common.whoami_box() -}}
        {{ common.buttons_box() -}}
        {{ common.recent_posts_box() -}}
        {{ common.search_box() -}}
        {{ common.tags_box() -}}
        {{ common.archive_box() -}}
      </div>
    </div>
    <script type="text/javascript">//<![CDATA[
      (function() {
        var links = document.getElementsByTagName('a');
        var query = '?';
        for(var i = 0; i < links.length; i++) {
          if (links[i].href.indexOf('#disqus_thread') >= 0) {
            query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
          }
        }
        document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/devschnouki/get_num_replies.js' + query + '"></' + 'script>');
      })();
    //]]></script>
    <script type="text/javascript">//<![CDATA[
      FlattrLoader.setup();
    //]]></script>
  </body>
</html>
