{% macro archive_box() %}
<div class="sideblock archive">
  <h1>Archive</h1>
{%- for year, months in archive|dictsort(by='key')|reverse %}
  <h2><a href="/archive/{{ year }}/">{{ year }}</a></h2>
  {%- for month, posts in months|dictsort(by='key') %}
    <a href="/archive/{{ year }}/{{ "%02d"|format(month) }}/">{{ month_names[month] }}</a> ({{ posts|length }})
    {%- if not loop.last %}, {%- endif -%}
  {%- endfor %}
{%- endfor %}
</div>
<!-- <a href="http://schnouki.net/static/volumeexplosion.php">gala</a> -->
{% endmacro %}

{% macro buttons_box() %}
<div class="sideblock buttons">
  <a href="http://www.april.org/adherer?referent=Thomas+JOST+%28tjost%29"><img src="/data/buttons/bouton-april-80x15.png" alt="Promouvoir et soutenir le logiciel libre"/></a>
  <a href="https://fellowship.fsfe.org/login/join.php?ref=schnouki"><img src="/data/buttons/fsfe_fellow-badge-80x15.png" alt="Join the Fellowship and support Free Software!"/></a>
  <a href="http://playogg.org/"><img src="/data/buttons/Play_ogg_80x15.png" alt="Play Ogg"/></a>
  <a href="http://www.gnu.org/software/emacs/"><img src="/data/buttons/emacs.png" alt="Made with GNU Emacs"/></a>
  <a class="FlattrButton" style="display:none;"
     href="http://schnouki.net" rev="flattr;button:compact;"></a>
  <a href="http://schnouki.net/static/volumeexplosion.php" style="display: none;">gala</a>
</div>
{% endmacro %}

{% macro recent_posts_box() %}
<div class="sideblock recent">
  <h1>Recent posts</h1>
  <ul>
{%- for post in posts[-10:]|reverse %}
     <li><a href="{{ post.url }}">{{ post.title }}</a> ({{ post.date|short_date }})</li>
{%- endfor %}
  </ul>
</div>
{% endmacro %}

{% macro search_box() %}
<div class="sideblock search">
  <h1>Search</h1>
  <form action="http://www.google.com/cse" id="cse-search-box">
    <div>
      <input type="hidden" name="cx" value="009434295289586609789:ura6my-fruq" />
      <input type="hidden" name="ie" value="UTF-8" />
      <input type="text" name="q" style="width: 100%;" />
      <input type="submit" name="sa" value="Search" />
    </div>
  </form>
  <script type="text/javascript" src="http://www.google.com/cse/brand?form=cse-search-box&lang=en"></script>
</div>
{% endmacro %}

{% macro tags_box() %}
<div class="sideblock tags">
  <h1>Tags</h1>
{%- for tag, n in tags|dictsort(by='key') -%}
  {%- set tag_size = 0.8*(1 + ((n - tag_min)/tag_max)) %}
  <a href="/tag/{{ tag }}/" style="font-size: {{ "%.4f"|format(tag_size) }}em;">{{tag}}</a>
{%- endfor %}
</div>
{% endmacro %}

{% macro whoami_box() %}
<div class="sideblock whoami">
  <h1>About this blog</h1>
  <p>Hello and welcome here! I'm Thomas Jost, aka "Schnouki". I'm a PhD student
  in computer science and I love Free Software, GNU/Linux, science-fiction, good
  TV series, and lots of other things.</p>
  <p>You can contact me here by commenting on a post, or
  by <a href="mailto:schnouki@schnouki.net">e-mail</a>, or
  by <a href="mailto:schnouki@pouet.im">Jabber/XMPP</a>. If you feel as paranoid
  as I do, be sure to use my <a href="/publickey.asc">GnuPG key</a> (ID:
  D3E5DF54).</p>
</div>
{% endmacro %}

{% macro render_post(post) %}
<article class="post" xml:lang="{{ post.language|replace("_", "-") }}">
  <header>
    <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
    <time datetime="{{ post.date.isoformat() }}">{{ post.date|human_readable_date }}</time>
  </header>
  <section>
{{ post.content }}
  </section>
  <footer>
    <a href="{{ post.absolute_url }}#disqus_thread">Comments</a>
    {%- if post.tags is defined %} - 
    <span class="tags">tags: {% for tag in post.tags %}{% if not loop.first %}, {% endif %}<a href="/tag/{{ tag }}/">{{ tag }}</a>{% endfor %}</span>
    {%- endif %} - 
    <span class="flattr">
    <a class="FlattrButton" style="display:none;" href="{{ post.absolute_url }}" title="{{ post.title|e }}"
       lang="{{ post.language }}" rev="flattr;button:compact;category:{{ post.flattr_cat|default("text") }};tags:schnouki,blog{% for tag in post.tags %},{{ tag }}{% endfor %}">{{ post.content|striptags|shorten(200) }}</a>
    </span>
  </footer>
</article>
{% endmacro %}

{% macro acta_box() %}
<div class="sideblock">
  <iframe src="http://a.lqdn.fr/acta_en_vertical.html" style="width: 100%; height: 350px; margin: 0; padding: 0; border: 0;" scrolling="no"></iframe>
</div>
{% endmacro %}
