{% extends "base.html" %}
{% import "common.html" as common %}

{% block title %}{{ super() }} - {{ post.title }}{% endblock %}

{% block content -%}
<div class="navigation">
  {%- if prev_post is defined %}
  <span class="prev"><a href="{{ prev_post.url }}">&laquo; {{ prev_post.title }}</a></span>
  {%- endif %}
  {%- if next_post is defined %}
  <span class="next"><a href="{{ next_post.url }}">{{ next_post.title }} &raquo;</a></span>
  {%- endif %}
</div>

{{- common.render_post(post) -}}

<article class="comments">
  <div id="disqus_thread"></div><script type="text/javascript" src="http://disqus.com/forums/devschnouki/embed.js"></script><noscript><a href="http://disqus.com/forums/devschnouki/?url=ref">View the discussion thread.</a></noscript><a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
</article>
{%- endblock %}
