{{- $path := .Get 0 -}}
{{- $hlLang := .Get 1 -}}
{{- $hlOptions := .Get 2 -}}

{{- $content := readFile (printf "static/%s" $path) -}}
{{- $components := split $path "/" -}}
{{- $baseName := index $components (sub (len $components) 1) -}}

{{- $url := $path | relURL -}}

<div class="code-shortcode">
  <div class="code-shortcode__link">
    {{- partial "svg/my-icons" "file" -}}
    <a href="{{ $url }}" title="{{ $baseName | safeHTMLAttr }}">{{ $baseName }}</a>
  </div>
  {{- highlight $content $hlLang $hlOptions -}}
</div>
