{{- $path := .Get 0 -}}
{{- $hlLang := .Get 1 -}}
{{- $hlOptions := .Get 2 -}}

{{- $content := "" -}}
{{- $url := $path | relURL -}}
{{- $staticPath := (printf "static/%s" $path) -}}
{{- if (fileExists $staticPath) -}}
  {{- $content = readFile $staticPath -}}
{{- else -}}
  {{- $res := .Page.Resources.GetMatch $path -}}
  {{- $content = $res.Content -}}
  {{- $url = $res.RelPermalink -}}
{{- end -}}
{{- $components := split $path "/" -}}
{{- $baseName := index $components (sub (len $components) 1) -}}

<div class="code-shortcode">
  <div class="code-shortcode__link">
    {{- partial "svg/my-icons" "file" -}}
    <a href="{{ $url }}" title="{{ $baseName | safeHTMLAttr }}">{{ $baseName }}</a>
  </div>
  {{- highlight $content $hlLang $hlOptions -}}
</div>
